.message-input {
  display: flex;
  gap: 8px;
  align-items: stretch;
}

.message-input__textarea {
  flex: 1;
  resize: none;
  height: 52px;
  font-size: 15px;
  background: var(--bg-input-message);
  padding: 10px 20px !important;
}

.message-input__textarea:has(textarea:focus-visible) {
  outline: none;
}

.message-input__button {
  flex-shrink: 0;
  border-radius: 12px;
  height: auto;
}
